@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --border-radius: 4px;
  --mobile-top-menu-height: 35px;
  --sync-pending-color: #afafaf;
  --sync-success-color: #afead3;
  --sync-failure-color: #eaafaf;
}

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  cursor: inherit;
}

/* Version */
.list::after {
  content: '1.0.6';
  font-size: 0.7em;
  position: fixed;
  right: 25px;
  bottom: 10px;
  opacity: 0.2;
}

ul, ol, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

*[contenteditable="true"] {
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0);
  padding: 2px 4px;
  cursor: text;
}

*[contenteditable="true"]:hover {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.02);
}

body {
  margin: 0;
  padding: 0;
}

#page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  cursor: default;
}

#page.debug-mode {
  border: 5px solid red;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

input {
  border: 1px solid #ddd;
  border-radius: 3px;
}

input:focus {
  outline: none;
  border: 1px solid #2f3a40;
}

button {
  background: none;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 3px;
}

button:focus {
  outline: none;
  border: 1px solid #2f3a40;
}

/* ------------------------ Nav --------------------- */

.nav-panel {
  background-color: rgb(245, 245, 245);
  padding: 0px 0 10px 0;
  box-shadow: inset -5px 0 3px -5px rgba(0,0,0,0.2);
  overflow-x: hidden;
  overflow-y: auto;
  flex-basis: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

#mobile-nav-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0.5,0.5,0.5,0.6);
  z-index: 2;
}

#mobile-top-menu {
  display: none;
  background-color: #444;
  padding: 3px;
  text-align: left;
  height: var(--mobile-top-menu-height);
  z-index: 1;
}

.online.sync-pending #mobile-top-menu {
  background-color: var(--sync-pending-color);
}

.online.sync-success #mobile-top-menu {
  background-color: var(--sync-success-color);
}

.online.sync-failure #mobile-top-menu {
  background-color: var(--sync-failure-color);
}

.nav-menu-glyph {
  stroke: white;
}

.online .nav-menu-glyph {
  stroke: black;
}

@media all and (max-width: 900px) {
  /* The background behind the menu when it's showing */
  .mobile-nav-showing #mobile-nav-background {
    display: block;
  }

  .nav-panel {
    box-shadow: 0px 0 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    width: 300px;
    left: -305px;
    bottom: 0;
    z-index: 3;
    transition: left ease 0.2s;
  }

  .mobile-nav-showing .nav-panel {
    left: 0;
  }

  #mobile-top-menu {
    display: block;
    position: sticky;
    top: 0;
  }
}

/* ------------------------ Nav.User Panel --------------------- */

.nav-panel .user-panel {
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: #444;
  color: white;
  font-size: 0.8em;
  margin-bottom: 50px;
}

.nav-panel .user-status {
  line-height: 1.6;
}

.nav-panel .user-panel-buttons {
  margin: 10px 0 5px 0;
}

.user-panel button {
  width: 130px;
  margin: 5px;
  color: white;
  cursor: pointer;
  padding: 5px;
  background-color: rgba(255,255,255,0.1);
}

.user-panel button:hover {
  background-color: rgba(255,255,255,0.2);
}

.online .nav-panel .user-panel {
  color: rgba(0,0,0,0.7);
  padding: 0;
  text-align: left;
  padding: 13px;
}

.online.sync-pending .nav-panel .user-panel {
  background-color: var(--sync-pending-color);
}

.online.sync-failure .nav-panel .user-panel {
  background-color: var(--sync-failure-color);
}

.online.sync-success .nav-panel .user-panel {
  background-color: var(--sync-success-color);
}

.online .nav-panel .user-status {
  display: inline-block;
}

.online .nav-panel .user-panel-buttons {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: -5px;
  /* margin: -10px -10px -10px 100px; */
}

.online .user-panel button {
  color: black;
  background-color: rgba(0,0,0,0.1);
}

.online .user-panel button:hover {
  background-color: rgba(0,0,0,0.2);
}

.nav-panel .lists-section {
  flex-grow: 1;
}

/* ------------------------ Nav.Items --------------------- */

.nav-item {
  margin: 0px 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
}

.nav-item:hover {
  background-color: #eee;
}

.nav-item.active {
  background-color: #ccc;
}

.nav-item h1 {
  font-size: 1em;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.nav-item .ready-indicator {
  margin: 3px 8px;
}

.nav-item .ready-indicator circle {
  fill: #11a56b;
}

.nav-item .allocated {
  flex-grow: 1;
  text-align: right;
}

/* ------------------------ Nav.Totals --------------------- */

.nav-panel .totals-section {
  margin: 10px;
  padding: 10px;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.nav-panel .totals-section table {
  width: 100%;
}

.nav-panel .totals-section td  {
  padding: 3px 6px;
  text-align: right;
}

.nav-panel .totals-section td:nth-child(2)  {
  font-weight: 500;
  width: 70px;
}

.nav-panel .report-issues {
  text-align: right;
  padding: 10px 30px;
  font-size: 0.8em;
}

/* ------------------------ List --------------------- */

.list {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding-bottom: 30px;
  flex: 1 0 0;
}

.list-sticky-area {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
  margin-bottom: -10px;
}

.list-header {
  text-align: left;
  display: flex;
  align-items: center;
}

.list-header .list-name{
  flex-grow: 1;
}

.list-header h1.list-heading {
  margin: 0 40px;
  padding: 10px;
  font-weight: 300;
  font-size: 2em;
  display: inline-block;
}

.list-header .list-info {
  text-align: right;
}

.list-header .list-info>* {
  margin: 3px;
}

.list-overflow {
  color: #040;
}

.list-overflow::before {
  content: 'Kitty: $ ';
  opacity: 0.5;
}

.list-overflow.debt {
  color: #800;
}

.list-overflow.debt::before {
  content: 'Owing: $ ';
  opacity: 0.5;
}

.list-overflow * {
  display: inline;
}

.list-allocated * {
  display: inline;
}

.list-header .list-allocated::before {
  content: '$ ';
  opacity: 0.5;
}

.list-header:hover .list-allocated::before {
  content: 'Budget: $ ';
  opacity: 0.5;
}

.list .allocated-unit {
  opacity: 0.5;
}

.list-header .menu-container {
  width: 50px;
  height: 120px;
  text-align: right;
}

.list .add-item {
  margin-top: 20px;
}

.list .purchase-history {
  padding: 0 50px;
}

.list .purchase-history .history-item:last-child::after {
  content: '';
  display: block;
  margin: 0px 10px 0px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.list .items-list {
  padding: 0 50px 10px 50px;
}

@media all and (max-width: 900px) {
  .list .items-list {
    padding: 0 10px 10px 10px;
  }

  .list .purchase-history {
    padding: 0 10px;
  }

  .list-header .menu-container {
    height: 50px;
  }

  .list-header h1.list-heading {
    margin: 10px 10px;
    padding: 5px 5px;
    font-weight: 500;
    font-size: 1.2em;
  }

  .list-header {
    top: var(--mobile-top-menu-height);
    margin-bottom: -7px;
  }
}

/* ------------------------ Squirrel Graphic --------------------- */

svg.squirrel-graphic {
  position: absolute;
  bottom: 0;
  margin: -10px 0 0 50px;
  right: 160px;
  width: 140px;
  height: 140px;
  fill: #00a364;
  opacity: 0.1;
  /* z-index: 2; */
}

@media all and (max-width: 900px) {
  svg.squirrel-graphic {
    margin: 13px 0 0 10px;
    right: 170px;
    width: 80px;
    height: 80px;
    fill: #444;
  }
}

/* ------------------------ Item --------------------- */

.item,.history-item {
  text-align: left;
  padding-top: 10px;
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
  transition: padding-top linear 0.1s;
}

.item-inner {
  position: relative;
  height: 75px;
  border-radius: var(--border-radius);
  padding: 22px 30px 22px 30px;
  background-color: #eee;
  display: flex;
  align-items: center;
}

.item.afforded .item-inner {
  background-color: #afead3;
}

.item.active-progress .item-inner {
  border-color: #c6dfe9;
}

.item .menu-container {
  width: 0px;
  position: relative;
  right: 18px;
}

.item .menu-button {
  visibility: hidden;
}

.item:hover .menu-button {
  visibility: visible;
}

.item .menu-body {
  right: -8px;
  width: 350px;
}

@media all and (max-width: 900px) {
  .item-inner {
    padding: 10px;
    height: 60px;
  }

  .item .menu-container {
    width: 0px;
    position: relative;
    right: 27px;
  }

  .item .menu-button {
    visibility: visible;
    opacity: 0.5;
    padding: 3px;
  }
}

/* ------------------------ Item:Dragging --------------------- */

.item.item-dragging {
  opacity: 0.5;
}

.item.item-drag-over {
  padding-top: 33px;
}

.item.item-drag-over .item-inner::before {
  display: block;
  height: 50px;
  width: 100%;
  border-bottom: 2px dashed #aaa;
  content: '';
  position: absolute;
  left: 0;
  top: -70px;
}

/* ------------------------ Item.Name --------------------- */

.name-section {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 40%;
}

.item-name {
  font-size: 1.0em;
  display: inline-block;
}

@media all and (max-width: 900px) {
  .name-section {
    max-width: none;
  }
}

/* ------------------------ Item.Note --------------------- */

.item-note {
  display: block;
  font-size: 1.0em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-left: 6px;
  font-size: 0.8em;
}

/* ------------------------ Item.Saved --------------------- */

.item .saved {
  position: relative;
  opacity: 0;
  font-weight: 300;
  font-size: 2em;
  padding: 0px 30px;
}

.item.partial-progress .saved {
  font-size: 2em;
  opacity: 0.3;
}

.item.active-progress .saved {
  opacity: 0.7;
}

.item.afforded .saved {
  color: rgb(20, 42, 20);
}

.item:hover .saved::after {
  content: 'Saved';
  position: absolute;
  font-size: 0.5em;
  display: inline-block;
  text-align: center;
  top: -15px;
  right: 0;
  left: 0;
  font-weight: normal;
  opacity: 0.5;
}

@media all and (max-width: 900px) {
  .item .saved {
    display: none;
  }
}

/* ------------------------ Item.Info --------------------- */

.item .info-section {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10px;
}

@media all and (max-width: 900px) {
  .item .info-section {
    flex: 0 0 auto;
  }
}

/* ------------------------ Item.Price --------------------- */

.item .price {
  display: inline-block;
  opacity: 0.8;
}

.item:hover .price::before {
  content: 'Price: $ ';
  font-weight: normal;
}

/* ------------------------ Item.ETA --------------------- */

.item .eta {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  padding-right:5px;
}

.item:hover .eta::before {
  content: 'ETA: ';
  opacity: 0.5;
  font-weight: normal;
}

.item.no-eta .eta {
  display: none;
}

/* ------------------------ Buttons  --------------------- */

button.svg-button {
  border: none;
  background: none;
  cursor: pointer;
}

button svg.plus-svg {
  opacity: 0.7;
}

button:hover svg.plus-svg {
  transform: scale(1.1);
  opacity: 1;
}

.plus-svg circle {
  stroke: rgba(0,0,0,0.2);
  stroke-width: 1px;
  fill: rgba(0,0,0,0.05);
}

.plus-svg path {
  stroke: #444;
  stroke-width: 2px;
}

.nav-panel .button-new-container {
  text-align: center;
}

.nav-panel .button-new {
  margin: 10px;
}

/* ------------------------ Dialog --------------------- */

.dialog-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}

.dialog {
  display: block;
  min-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  overflow: hidden;
}

.dialog header {
  text-align: center;
  min-height: 30px;
  background-color: #2f3a40;
  color: white;
  padding: 40px 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.dialog .dialog-body {
  padding: 30px;
}

.dialog footer {
  text-align: right;
  min-height: 30px;
  background-color: #eee;
  padding: 10px 10px;
}

.dialog footer button {
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  min-width: 100px;
  border: 1px solid #444;
  background-color: #eee;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  color: #2f3a40;
}

.dialog footer button:hover {
  background-color: #ddd;
}

.dialog .currency-input {
  font-size: 1em;
  font-weight: 600;
  padding: 3px;
  width: 80px;
  text-align: right;
}

.dialog .note {
  font-style: italic;
  text-align: center;
  font-size: 0.9em;
  color: #444;
  min-height: 20px;
  margin-bottom: 0;
}

input.invalid {
  border: 3px solid rgb(196, 14, 14);
  border-radius: 2px;
}

.dialog label {
  display: block;
  font-size: 0.8em;
  margin-top: 10px;
  margin-bottom: 2px;
}

.dialog input[type=text], .dialog input[type=password], .dialog input[type=email] {
  font-size: 1em;
  padding: 5px;
}

/* ------------------------ History Item --------------------- */

.history-item .item-inner {
  background-color: #ddd;
  /* border: 2px solid #eee; */
  height: 50px;
  padding: 15px 34px;
}

.history-item .price {
  position: absolute;
  top: 15px;
  right: 45px;
}

.history-item .smiley {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.smiley circle.head {
  stroke: black;
  stroke-width: 1.5px;
  fill: none;
}

.smiley path.mouth {
  stroke: black;
  stroke-width: 1.5px;
  fill: none;
  stroke-linejoin: round;
  /* fill: black; */
}

@media all and (max-width: 900px) {
  .history-item .item-inner  {
    padding-left: 10px;
    padding-right: 10px;
  }

  .history-item .smiley {
    display: none;
  }
}

/* ------------------------ Menu --------------------- */

.menu-container {
  position: relative;
}

.menu-body {
  display: none;
  text-align: left;
  position: absolute;
  width: 150px;
  /* height: 100px; */
  right: 40px;
  top: 10px;
  background-color: white;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
  border-radius: 3px;
  border-top: 3px solid #2f3a40;
  border-bottom: 3px solid #2f3a40;
  z-index: 3;
  font-size: 0.9em;
}

.menu-item {
  padding: 8px 20px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #ddd;
}

/* ------------------------ General --------------------- */

dl {
  width: 100%;
}

dl dt {
  display: inline-block;
  width: 50%;
  text-align: right;
  margin-top: 7px;
}

dl dt::after {
  content: ':'
}

dl dd {
  display: inline-block;
  text-align: left;
  margin-left: 10px;
}

.currency::before {
  opacity: 0.5;
  content: '$ ';
}

.sub-cents {
  font-size: 0.7em;
  font-weight: 300;
  display: inline-block;
  width: 0;
  margin-left: 1px;
}

.currency {
  white-space: nowrap;
}

button.menu-button {
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

button.menu-button:hover {
  background-color: rgba(0,0,0,0.07);
}

.edit-note-dialog input.note {
  width: 100%;
}

.sign-up-dialog input, .login-dialog input {
  width: 100%;
}

a {
  text-decoration: none;
  color: #036;
  opacity: 0.8;
  cursor: pointer;
}

a:hover {
  opacity: 1;
}

* {
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea,
[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

button {
  cursor: pointer;
  padding: 5px;
}

button:hover {
  background-color: rgba(0,0,0,0.07);
}